:host {
  .mBtm10 {
    margin-bottom: 1rem;
  }

  .header {
    background-color: #f08080;
    padding: 1rem;

    .avatar-user {
      height: 40px;
      position: absolute;
      right: 1rem;

      img {
        border-radius: 50%;
      }
    }

    .title {
      font-weight: 500;
    }
  }

  .container {
    padding: 1rem;

    .vaccineNotifierForm {
      .full-width, .general-filters {
        display: flex;
        flex-direction: column;
      }

      .state-and-district-tab-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      /* Responsive layout - makes a one column layout instead of a two-column layout */
      @media (max-width: 600px) {
        .state-and-district-tab-content {
          flex-direction: column;
        }
      }

      mat-form-field {
        flex: 49% 0 0;
      }

      .polling-interval-slider {
        margin-left: 1rem;
      }
    }

    ::ng-deep .mat-tab-body-wrapper {
      margin-top: 1rem;
    }

    button {
      margin-top: 1rem;
    }

    table {
      margin-top: 1rem;
      width: 100%;

      th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        padding-right: 1rem;
      }
    }

    .group-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 2rem;

      .group-item {
        margin: 0 1rem 0 0;
      }
    }
  }

}
